.idea/
log/
public/IMG
public/audio
public/digital_assets
.byebug_history
public/assets
tmp/
solr/
private/
doc/doc
doc/lib
dump.rdb
oldfiles/
.bundle/
coverage/*
.env
rest-client.private.env.json
node_modules/*